<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1 class="panel-title">{t}Menu{/t}</h1>
		</div>
		
		<div class="panel-body">
			<div class="list-group">
				<a href="u:Macro" class="list-group-item list-group-item-action">
					<span class="fa fa-cogs" aria-hidden="true"></span> {t}Macro generator{/t}
				</a>
				
				<a href="http://xivdb.com/" class="list-group-item list-group-item-action">
					<span class="fa fa-external-link" aria-hidden="true"></span> XIVDB
				</a>
				
				<a href="http://www.garlandtools.org/" class="list-group-item list-group-item-action">
					<span class="fa fa-external-link" aria-hidden="true"></span> Garland Tools
				</a>
				
				<a href="http://ffxivcrafting.com/" class="list-group-item list-group-item-action">
					<span class="fa fa-external-link" aria-hidden="true"></span> FFXIV Crafting
				</a>
				
				<a href="http://en.ff14housing.com/" class="list-group-item list-group-item-action">
					<span class="fa fa-external-link" aria-hidden="true"></span> FFXIV Housing
				</a>
				
				<a href="http://www.ffxivclock.com/#/" class="list-group-item list-group-item-action">
					<span class="fa fa-external-link" aria-hidden="true"></span> FFXIV Clock
				</a>
				
				<a href="https://www.reddit.com/r/ffxiv/comments/1moje4/indepth_crafting_mechanics/" class="list-group-item list-group-item-action">
					<span class="fa fa-external-link" aria-hidden="true"></span> In-depth Crafting Mechanics
				</a>
			</div>
		</div>
	</div>
</div>
