<div id="macro_container" style="display: none;">
{$Template->LoadJS('u:handler/macro.js')}<div class="row">
	<div class="col-md-7">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a data-toggle="collapse" href="#info-body"><h2 class="panel-title"><span class="fa fa-info-circle" aria-hidden="true"></span> {t}Information about the generator{/t}</h2></a>
			</div>
			<div id="info-body" class="panel-body panel-collapse collapse">
				<h3>{t}Instructions{/t}</h3>
				<ol>
					<li>{t}Click on the skills to create a macro{/t}</li>
					<li>{t}Drag the macro icons under the skill list to reorganize them{/t}</li>
					<li>{t}Click Generate to create the macros to use in FFXIV{/t}</li>
				</ol>
				<p>{t escape=no}<strong>Note:</strong> Skills may require special conditions to work, the generator does not take that into account. Inner Quiet calculation does presume all touch actions succeed, which quite likely is not the case with Hasty Touch and like.{/t}</p>
				
				<h3>{t}Examples{/t}</h3>
				<ul>
					<li><a href="u:handler/L50">{t escape=no}Level 50 simple, no cross-class skills{/t}</a></li>
					<li><a href="u:handler/L60_D40_Simple">{t escape=no}Level 60 durability 40 simple{/t}</a></li>
					<li><a href="u:handler/L60_D35">{t escape=no}Level 60 durability 35{/t}</a></li>
					<li><a href="u:handler/L60_D40">{t escape=no}Level 60 durability 40{/t}</a></li>
					<li><a href="u:handler/L60_D70">{t escape=no}Level 60 durability 70{/t}</a></li>
				</ul>
				
				<h3>{t}About{/t}</h3>
				<p>{t escape=no}This tool is created by <a href="http://na.finalfantasyxiv.com/lodestone/character/5129773/">Mireiawen Rose</a> of Lich{/t}</p>
				<p>{t escape=no}Special thanks to <a href="http://na.finalfantasyxiv.com/lodestone/character/14029611/">Aurorah Rose</a> for testing everything, improving the generator, example macros and all the other stuff{/t} <span class="fa fa-heart-o"></span></p>
				<p>{t escape=no}This tool is loosely based on the <a href="http://www.garytay.net/ffxiv_macro/">FFXIV Heavensward Crafting Macro Generator</a> by <a href="http://na.finalfantasyxiv.com/lodestone/character/21016/">Serra Avenger</a> of Tonberry, but all of the code has been written from scratch{/t}</p>
				<p>{t escape=no}Thanks to the <a href="http://xivdb.com/">XIVDB</a> and <a href="http://www.garlandtools.org/">Garland Tools</a> for their item databases, this tool imports some knowledge from both them{/t} as well as <a href="https://github.com/xivdb/tooltips">XIVDB tooltips</a></p>
				<p>{t escape=no}This tool uses <a href="https://jquery.com/">jQuery</a>, <a href="http://jqueryui.com/">jQuery IO</a> and <a href="http://getbootstrap.com/">Bootstrap</a> frameworks, <a href="https://github.com/blueimp/JavaScript-Templates">JavaScript Templates</a>, <a href="https://github.com/alexei/sprintf.js">sprintf.js</a> and <a href="http://bootboxjs.com/">Bootbox.js</a> helpers{/t}</p>
				<p>Please report any bugs, issues, requests to the <a href="https://github.com/mireiawen/ff14">GitHub project</a>. Also the source code is available on <a href="https://github.com/mireiawen/ff14">GitHub</a></p>
				
				<h3>{t}Change log{/t}</h3>
				<ul>
					<li><strong>2017-07-10</strong> Mostly working</li>
					<li><strong>2017-07-13</strong> Add buff or skill knowledge to the database</li>
					<li><strong>2017-07-31</strong> Work on the buff showing and calculating done</li>
					<li><strong>2017-08-01</strong> Inner Quiet estimation and Rumination done</li>
					<li><strong>2017-08-03</strong> Add confirmation to macro list XIVDB.com links</li>
					<li><strong>2017-08-04</strong> Add Manipulation/Manipulation II tracking</li>
				</ul>
				
				<h3>{t}TODO list{/t}</h3>
				<ul>
					<li>Estimate durability use</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="col-md-5">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a data-toggle="collapse" href="#config-body"><h2 class="panel-title"><span class="fa fa-cog" aria-hidden="true"></span> {t}Configure the generator{/t}</h2></a>
			</div>
			<div id="config-body" class="panel-body panel-collapse collapse">
				<form name="settings" class="form-horizontal">
					<fieldset>
						<div class="form-group">
							<label class="col-md-4 control-label" for="macro_wait_skill">{t}Skill wait time{/t}</label>
							<div class="col-md-8">
								<input id="macro_wait_skill" name="macro_wait_skill" type="text" value="{$vals.macro_wait_skill}" class="form-control input-md" required="">
								<span class="help-block">{t}Set the waiting time after the skills{/t}</span>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-md-4 control-label" for="macro_wait_buff">{t}Buff wait time{/t}</label>
							<div class="col-md-8">
								<input id="macro_wait_buff" name="macro_wait_buff" type="text" value="{$vals.macro_wait_buff}" class="form-control input-md" required="">
								<span class="help-block">{t}Set the waiting time after the buffs{/t}</span>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-md-4 control-label" for="macro_echo">{t}Enable macro echo{/t}</label>
							<div class="col-md-8">
								<select id="macro_echo" name="macro_echo" class="form-control">
									<option value="1"{if $vals.macro_echo == 1} selected="selected"{/if}>{t}Yes{/t}</option>
									<option value="0"{if $vals.macro_echo == 0} selected="selected"{/if}>{t}No{/t}</option>
								</select>
							</div>
						</div>
						
						<div id="echo_parameters"{if $vals.macro_echo == 0} style="display: none;"{/if}>
							<div class="form-group">
								<label class="col-md-4 control-label" for="macro_name">{t}Macro name{/t}</label>  
								<div class="col-md-8">
									<input id="macro_name" name="macro_name" type="text" placeholder="Macro name" value="{$vals.macro_name}" class="form-control input-md" required="">
									<span class="help-block">{t}The name for the macro{/t}</span>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-4 control-label" for="macro_end">{t}Macro end message{/t}</label>
								<div class="col-md-8">
									<input id="macro_end" name="macro_end" type="text" placeholder="" value="{$vals.macro_end}" class="form-control input-md">
									<span class="help-block">{t}Message to echo at the end of each macro{/t}</span>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-md-4 control-label" for="macro_done">{t}Macro done message{/t}</label>
								<div class="col-md-8">
									<input id="macro_done" name="macro_done" type="text" placeholder="" value="{$vals.macro_done}" class="form-control input-md">
									<span class="help-block">{t}Message to echo once all macros have completed{/t}</span>
								</div>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title pull-left"><span class="fa fa-list"></span> {t}The skill list{/t}</h2>
				<p class="panel-title pull-right"><span id="macro_cp">0</span> {t}CP{/t}</p>
				<div class="clearfix"></div>
			</div>
			<div class="panel-body">
				<div id="macro-steps">
					<ul id="sortable" class="list-unstyled"></ul>
				</div>
				<div class="btn-group" role="group">
					<button id="button_reset" class="btn btn-danger" type="button"><span class="fa fa-trash-o" aria-hidden="true"></span> {t}Clear{/t}</button>
					{if $hash !== FALSE}<a href="u:handler/{$hash}" class="btn btn-warning" role="button"><span class="fa fa-trash-o" aria-hidden="true"></span> {t}Reset{/t}</a>{/if}
					<button id="button_generate" class="btn btn-primary" type="button"><span class="fa fa-play-circle-o" aria-hidden="true"></span> {t}Generate the macros{/t}</button>
					<button id="button_save" class="btn btn-success" type="button"><span class="fa fa-floppy-o" aria-hidden="true"></span> {t}Save{/t}</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading"><h2 class="panel-title"><span class="fa fa-pencil-square" aria-hidden="true"></span> {t}Pick skills from the list{/t}</h2></div>
			<div class="panel-body">
				<div id="skill-list">
					{foreach $categories as $category}{if $category->GetID() !== $category::OTHER}<div id="skill-list-{$category->GetName()}">
						<h3>{$category->GetTranslatedName()}</h3>
						<ul class="list-inline">{foreach $skills as $skill}{if $skill -> GetCategory() === $category -> GetID()}

							<li data-xivdb-id="{$skill -> GetXIVDB_ID()}" data-icon="{$skill -> GetIcon()}" data-cost="{$skill -> GetCost()}" data-restore="{$skill -> GetRestore()}" data-name="{$skill -> GetName_EN()}" data-buff="{$skill -> GetBuff()}">
								<a href="https://xivdb.com/action/{$skill -> GetXIVDB_ID()}" data-xivdb-id="{$skill -> GetXIVDB_ID()}" data-xivdb-replace="0"><img src="{xiv_icon id=$skill -> GetIcon()}"}/{$skill -> GetIcon()|string_format:"%06d"}.png"></a>
							</li>{/if}{/foreach}
						</ul>
					</div>
					{/if}
					{/foreach}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading"><h2 class="panel-title"><span class="fa fa-filte-text-o" aria-hidden="true"></span> {t}The macros{/t}</h2></div>
			<div class="panel-body">
				<div id="macro-text"></div>
			</div>
		</div>
	</div>
</div>
</div>
<div id="macro_nojs">
	<div class="alert alert-warning" role="alert">
		<h2><span class="fa fa-spinner fa-pulse" aria-hidden="true"></span> {t}Loading...{/t}</h2>
		<p>{t}Loading the tool. This should take 5-15 seconds. If the loading does not seem to complete, you may not have JavaScript working. Unfortunately this tool will not work without the JavaScript so you will need to enable it.{/t}</p>
	</div>
</div>

<script type="text/x-tmpl" id="confirm-dialog">
<p><span class="fa fa-danger"></span> {t}Leaving the macro generator, are you sure?{/t}</p><p>{t escape=no}The URL is <strong><a href="[%=o.url%]">[%=o.url%]</a>{/t}</p>
</script>

<script type="text/x-tmpl" id="tmpl-skill">
<li data-xivdb-id="[%=o.xivdb_id%]" data-cost="[%=o.cp_cost%]" data-restore="[%=o.cp_restore%]" data-name="[%=o.name%]" data-type="[%=o.type%]">
	<div class="row">
		<div class="col-md-1"><a href="[%=o.link%]" data-xivdb-id="[%=o.xivdb_id%]" data-xivdb-replace="0"><img src="[%=o.img%]"></a></div>
		<div class="col-md-3"><strong>[%=o.name%]</strong><br>[%=o.cp_cost%] {t}CP{/t}</div>
		<div class="col-md-7"><div class="info"></div></div>
		<div class="col-md-1"><button class="btn btn-danger" type="button" onClick="return RemoveAction(this);"><span class="fa fa-ban" aria-hidden="true"></span></button></div>
	</div>
</li>
</script>

<script type="text/x-tmpl" id="tmpl-step-info">
<div class="col-md-4 buffs">
[% if (o.steady_hand) { %]<figure class="buff">
	<img src="{xiv_icon id=$smarty.const.ICON_BUFF_STEADY_HAND}" alt="{t}Steady Hand{/t}" title="{t}Steady Hand{/t}">
	<figcaption>[%=o.steady_hand%]</figcaption>
</figure>[% } %]
[% if (o.inner_quiet) { %]<figure class="buff">
	<img src="{xiv_icon id=$smarty.const.ICON_BUFF_INNER_QUIET}" alt="{t}Inner Quiet{/t}" title="{t}Inner Quiet{/t}">
	<figcaption>[%=o.inner_quiet%]</figcaption>
</figure>[% } %]
[% if (o.great_strides) { %]<figure class="buff">
	<img src="{xiv_icon id=$smarty.const.ICON_BUFF_GREAT_STRIDES}" alt="{t}Great Strides{/t}" title="{t}Great Strides{/t}">
	<figcaption>[%=o.great_strides%]</figcaption>
</figure>[% } %]
[% if (o.ingenuity) { %]<figure class="buff">
	<img src="{xiv_icon id=$smarty.const.ICON_BUFF_INGENUITY}" alt="{t}Ingenuity{/t}" title="{t}Ingenuity{/t}">
	<figcaption>[%=o.ingenuity%]</figcaption>
</figure>[% } %]
[% if (o.waste_not) { %]<figure class="buff">
	<img src="{xiv_icon id=$smarty.const.ICON_BUFF_WASTE_NOT}" alt="{t}Waste Not{/t}" title="{t}Waste Not{/t}">
	<figcaption>[%=o.waste_not%]</figcaption>
</figure>[% } %]
[% if (o.innovation) { %]<figure class="buff">
	<img src="{xiv_icon id=$smarty.const.ICON_BUFF_INNOVATION}" alt="{t}Innovation{/t}" title="{t}Innovation{/t}">
	<figcaption>[%=o.innovation%]</figcaption>
</figure>[% } %]
[% if (o.name_of_wind) { %]<figure class="buff">
	<img src="{xiv_icon id=$smarty.const.ICON_BUFF_NAME_OF_WIND}" alt="{t}Name of Wind{/t}" title="{t}Name of Wind{/t}">
	<figcaption>[%=o.name_of_wind%]</figcaption>
</figure>[% } %]
[% if (o.name_of_fire) { %]<figure class="buff">
	<img src="{xiv_icon id=$smarty.const.ICON_BUFF_NAME_OF_FIRE}" alt="{t}Name of Fire{/t}" title="{t}Name of Fire{/t}">
	<figcaption>[%=o.name_of_fire%]</figcaption>
</figure>[% } %]
[% if (o.name_of_ice) { %]<figure class="buff">
	<img src="{xiv_icon id=$smarty.const.ICON_BUFF_NAME_OF_ICE}" alt="{t}Name of Ice{/t}" title="{t}Name of Ice{/t}">
	<figcaption>[%=o.name_of_ice%]</figcaption>
</figure>[% } %]
[% if (o.name_of_earth) { %]<figure class="buff">
	<img src="{xiv_icon id=$smarty.const.ICON_BUFF_NAME_OF_EARTH}" alt="{t}Name of Earth{/t}" title="{t}Name of Earth{/t}">
	<figcaption>[%=o.name_of_earth%]</figcaption>
</figure>[% } %]
[% if (o.name_of_lightning) { %]<figure class="buff">
	<img src="{xiv_icon id=$smarty.const.ICON_BUFF_NAME_OF_LIGHTNING}" alt="{t}Name of Lightning{/t}" title="{t}Name of Lightning{/t}">
	<figcaption>[%=o.name_of_lightning%]</figcaption>
</figure>[% } %]
[% if (o.name_of_water) { %]<figure class="buff">
	<img src="{xiv_icon id=$smarty.const.ICON_BUFF_NAME_OF_WATER}" alt="{t}Name of Water{/t}" title="{t}Name of Water{/t}">
	<figcaption>[%=o.name_of_water%]</figcaption>
</figure>[% } %]
[% if (o.heart) { %]<figure class="buff">
	<img src="{xiv_icon id=$smarty.const.ICON_BUFF_HEART_OF_THE}" alt="{t}Heart of the Specialist{/t}" title="{t}Heart of the Specialist{/t}">
	<figcaption>[%=o.heart%]</figcaption>
</figure>[% } %]
[% if (o.initial_preparations) { %]<figure class="buff">
	<img src="{xiv_icon id=$smarty.const.ICON_BUFF_INITIAL_PREPARATIONS}" alt="{t}Initial Preparations{/t}" title="{t}Initial Preparations{/t}">
</figure>[% } %]
[% if (o.comfort_zone) { %]<figure class="buff">
	<img src="{xiv_icon id=$smarty.const.ICON_BUFF_COMFORT_ZONE}" alt="{t}Comfort Zone{/t}" title="{t}Comfort Zone{/t}">
	<figcaption>[%=o.comfort_zone%]</figcaption>
</figure>[% } %]
[% if (o.manipulation1) { %]<figure class="buff">
	<img src="{xiv_icon id=$smarty.const.ICON_BUFF_MANIPULATION}" alt="{t}Manipulation{/t}" title="{t}Manipulation{/t}">
	<figcaption>[%=o.manipulation1%]</figcaption>
</figure>[% } %]
[% if (o.manipulation2) { %]<figure class="buff">
	<img src="{xiv_icon id=$smarty.const.ICON_BUFF_MANIPULATION_2}" alt="{t}Manipulation II{/t}" title="{t}Manipulation II{/t}">
	<figcaption>[%=o.manipulation2%]</figcaption>
</figure>[% } %]
</div>

<div class="col-md-6"><p>
[% if (o.rumination) { %]<strong>{t}Rumination{/t}</strong> <small>[%=o.rumination%] {t}CP restored{/t}</small><br>[% } %]
[% if (o.comfort_zone) { %]<strong>{t}Comfort Zone{/t}</strong> <small>{$smarty.const.COMFORT_ZONE_TICK} {t}CP restored{/t}</small><br>[% } %]
</p></div>
<div class="col-md-2">
<p class="small">[%=o.cp_cost%] {t}CP{/t}</p>
</div>
</script>

<script type="text/x-tmpl" id="tmpl-macro">
<div class="form-group">
	<label for="macro_[%=o.n%]">{t}Macro{/t} [%=o.n%]</label>
	<textarea class="form-control" id="macro_[%=o.n%]" rows="{$smarty.const.MACRO_MAX_ROWS}" style="overflow: hidden">
[% for (var i=0; i<o.lines.length; i++) { %][%=o.lines[i]%]
[% } %]</textarea>
</div>
</script>

<script>
{foreach $vals.skills as $skill}
AddAction({$skill}, false);
{/foreach}
CalculateCP();
GenerateMacros();
</script>
