<div id="skywatcher_container">
	{foreach $regions as $region}<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a data-toggle="collapse" href="#region-{$region->GetXIVDB_ID()}">
					<h2 class="panel-title">
						<span class="fa fa-info-circle" aria-hidden="true"></span>
						{$region -> GetTranslatedName()}
					</h2>
				</a>
			</div>
			<div id="region-{$region->GetXIVDB_ID()}" class="panel-body panel-collapse collapse">
				<div class="table-responsive">
					<table class="table table-striped">
						<tr>
							<th>{t}Location{/t}</th>
							<th>{t}Current Weather{/t}</th>
							<th colspan="9">{t}Next Weathers{/t}</th>
						</tr>
						{foreach $region->GetZones() as $zone}<tr>
							<th>{$zone -> GetTranslatedName()}</th>
							{assign var=w value=$zone -> GetWeather(\Weather::GetCurrentWeatherStart())}<td><img src="{xiv_icon id=$w -> GetIcon()}" alt="{$w -> GetTranslatedName()}" title="{$w -> GetTranslatedName()}"> {$w -> GetTranslatedName()}</td>
							{for $i = 1 to 9}
							{assign var=w value=$zone -> GetWeather(\Weather::GetCurrentWeatherStart() + \Weather::GetWeatherDuration() * $i + 1)}<td><img src="{xiv_icon id=$w -> GetIcon()}" alt="{$w -> GetTranslatedName()}" title="{$w -> GetTranslatedName()}"></td>
							{/for}
						</tr>{/foreach}
					</table>
				</div>
			</div>
		</div>
	</div>{/foreach}
</div>
