	<form action="u:self" method="POST">
	<table>
		<tbody>
			<tr><th>{t}Username:{/t}</th><td><input type="text" name="username" value="{$username}"></td></tr>
			<tr><th>{t}Name:{/t}</th><td><input type="text" name="name" value="{$name}"></td></tr>
			<tr><th>{t}Email:{/t}</th><td><input type="text" name="email" value="{$email}"></td></tr>
			<tr><th rowspan="2">{t}Password:{/t}</th><td><input type="password" name="password"></td></tr>
			<tr><td><input type="password" name="password_2"></td></tr>
			<tr><td colspan="2"><input type="submit" name="update" value="{t}Register{/t}"></td></tr>
		</tbody>
	</table>
	</form>
