*, *:before, *:after
{
	box-sizing: border-box !important;
}

body
{
	background-image: url('images/bg');
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-attachment: fixed;
}

#macro_nojs div
{
	opacity: 0.85;
}

.panel
{
	opacity: 0.85;
}

.masonry
{
	-moz-column-width: 30em;
	-webkit-column-width: 30em;
	-moz-column-gap: .5em;
	-webkit-column-gap: .5em;
}

.masonry .panel
{
	display: inline-block;
	margin: .5em;
	padding: 0;
	width:98%;
}

.buffs
{
	overflow: hidden;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.buffs figure
{
	display: inline-block;
	text-align: center;
}

.buffs figcaption
{
	line-height: 14px;
	font-weight: bold;
	position: relative;
	bottom: 6px;
	z-index: 1;
}
